@model task_management_system.Models.Comment

<form asp-action="Create">
    <div class="form-group">
        <input asp-for="NoteId" type="hidden" class="form-control" value="@ViewBag.NoteId" />
    </div>
    <div class="form-group">
        <input  />
    </div>
    <div class="form-group">
        <label asp-for="Body" class="label-control"></label>
        <textarea asp-for="Body" class="form-control" ></textarea>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </div>
</form>
