@model task_management_system.Models.Task

<div>
    <label>Project</label>
    <div>@Model.Title</div>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" class="btn btn-danger" value="Delete"/>
</form>